<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/assert/bootstrap413/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <style>
        *{
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<br>
<div class="container">
    <div class="row d-flex justify-content-center">
        <h2>Welcome to my Blog</h2>
    </div>
</div>
<br>
<div class="container">
    <div class="row d-flex justify-content-center ">
        <a href="/create" class="button p-2 " style="background: green; color: white;border-radius: 100px">Create new Blog</a>
    </div>
</div>
<br>
<div class="container">
    <div class="row d-flex justify-content-center ">
        <a href="/show-create-topic-form" class="button p-2 " style="background: green; color: white;border-radius: 100px">Add new Topic</a>
    </div>
</div>
<div class="container">
    <div class="row d-flex justify-content-center ">
        <a href="/topic/list" class="button p-2 " style="background: green; color: white;border-radius: 100px">Current Category</a>
    </div>
</div>
<br>
<div class="container">
    <div class="row d-flex justify-content-center ">
        <!--        <a href="/?sort=time,desc" class="button p-2 " style="background: green; color: white;border-radius: 100px">Sort By Time</a>-->
        <form action="/">
            <input type="hidden" th:if="${sort.equals('true')}" name = "sort" value = "time&sbquo;asc">
            <input type="hidden" th:if="${sort.equals('false')}" name = "sort" value = "time&sbquo;desc">
            <input  type="submit" th:if="${sort.equals('true')}" value="ASC">
            <input  type="submit" th:if="${sort.equals('false')}" value="DESC">
        </form>
        <!--        <a id="submitDesc" href="/?sort=time,desc">abc</a>-->
        <!--        <a id="submitAsc" href="/?sort=time,asc">abc</a>-->
    </div>
</div>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-2">
            <form action="/search" method="get">
                <input type="text" name="title" placeholder="input title">
                <br>
                <br>
                <input type="submit" value="search">
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4 p-2" th:each="blog,status:${listBlog}" >
            <div  style="background: #d2cbcb">
                <div class="d-flex justify-content-around">
                    <a th:href="@{/edit/{id}(id=${blog.getId()})}"><i class='far fa-edit' style='font-size:24px'></i></a>
                    <h3 th:text="${blog.content}"></h3>
                    <a th:href="@{/cancel/{id}(id=${blog.getId()})}" style="color: red">X</a>
                </div>
                <div class="d-flex justify-content-center">
                    <a th:href="@{/view/{id}(id=${blog.getId()})}" th:text="${blog.title}"></a>
                </div>

                <p th:text="${blog.content}"></p>
            </div>

        </div>
        <div class="col-12"></div>
        <div  align="center">
            <a th:href="@{/(page=${listBlog.number -1 })}" th:if="${listBlog.hasPrevious()}">Previous</a>
            <span th:text="${listBlog.number+1}"></span>
            <span>/</span>
            <span th:text="${listBlog.totalPages}" ></span>
            <a th:href="@{/(page=${listBlog.number +1 })}" th:if="${listBlog.hasNext()}">next</a>
        </div>
    </div>
</div>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="/assert/jquery/jquery-3.5.1.min.js"></script>
<script src="/assert/bootstrap413/js/popper.min.js"></script>
<script src="/assert/bootstrap413/js/bootstrap.min.js"></script>
<script src="/assert/bootstrap413/js/bootstrap.bundle.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>